<div style="background-color: lightgray; padding: 18px;">
    <h1> Learning Python | Day 7
</div>

### Features:

- Lambda Functions
- Exercices of List and Dict Comprehensions
- Exercices of Lambda

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Lambda Functions
</div>

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [2]:
# Syntax:

lambda arguments : expression

#The expression is executed and the result is returned:

In [7]:
# Example:

# Using functions:
def square(x):
    return x**2

print(square(6))

# Using lambda functions:

fsquare = lambda x: x**2
print(fsquare(8))

36
64

In [8]:
# Lambda functions can take any number of arguments:

x = lambda a, b : a * b
print(x(5, 6))

30

In [1]:
# Using list comprehensions:

f = lambda x: 'even' if (x%2 == 0) else 'odd'

print(3, f(3))
print(10, f(10))

numbers = [1, 1, 2, 2, 10, 11, 12, 13]

odd_or_even = [f(i) for i in numbers]
print(odd_or_even)

3 odd
10 even
['odd', 'odd', 'even', 'even', 'even', 'odd', 'even', 'odd']

In [13]:
# Using them as an anonymous function inside another function:

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(10))

20

In [35]:
# Using lamba as part of an argument:

data_scientists = ['Betty Holberton', 'Alan Turing', 'Dennis Ritchie', 'Grace Hopper']
_ = [print(i) for i in data_scientists]

# Using sort and len as an argument:
data_scientists.sort(key=len)
print(data_scientists)

# Splitting the full_name and get the last name:
print(data_scientists[0].split()[-1])

# Final lambda function:

data_scientists.sort(key = lambda nome: nome.split()[-1].lower())
print(data_scientists)

Betty Holberton
Alan Turing
Dennis Ritchie
Grace Hopper
['Alan Turing', 'Grace Hopper', 'Dennis Ritchie', 'Betty Holberton']
Turing
['Betty Holberton', 'Grace Hopper', 'Dennis Ritchie', 'Alan Turing']

In [9]:
help(data_scientists.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Exercices : List and Dict Comprehension
</div>

---

#### <font color="blue">Exercice 1</font>

Consider the list `people` below. Write code to remove all names from the list that start with the letters 'A' and 'M', inserting these names into a new list called `peopleAM`.

In [38]:
people = ['Miguel', 'Sophia', 'Davi', 'Alice', 'Arthur', 'Julia', 'Pedro', 'Isabella', 'Gabriel', 'Manuela', 'Laura']

no_AM = [p for p in people if (p[0] != "M" and p[0] != "A")]
people_AM = [p for p in people if (p[0] == "M" or p[0] == "A")]
people = no_AM
print(people)
print(people_AM)

['Sophia', 'Davi', 'Julia', 'Pedro', 'Isabella', 'Gabriel', 'Laura']
['Miguel', 'Alice', 'Arthur', 'Manuela']

---

#### <font color="blue">Exercice 2</font>

Create a dictionary whose keys are the strings from the `people` list defined in the previous exercise, with the length of the corresponding string as the associated value for each key. Use comprehension to create the dictionary. For example:

```python
{'Miguel': 6, 'Sophia': 6, 'Davi': 4,...}
```

In [42]:
people = ['Miguel','Sophia','Davi','Alice','Arthur','Julia','Pedro','Isabella','Gabriel','Manuela','Laura']

dict_people = {p : len(p) for p in people}
print(dict_people)

{'Miguel': 6, 'Sophia': 6, 'Davi': 4, 'Alice': 5, 'Arthur': 6, 'Julia': 5, 'Pedro': 5, 'Isabella': 8, 'Gabriel': 7, 'Manuela': 7, 'Laura': 5}

---

#### <font color="blue">Exercice 3</font>

Consider the `people` list below. Modify the elements of the list so that the last character of each element becomes uppercase if it is a vowel. Use the <font color='blue'>'.upper'</font> method of string objects to convert a character to uppercase. For example, the <font color='blue'>'.upper'</font> method in the code below:
```python
x = 'abc'.upper()
print(x)
```
results in `ABC`. You should not use a <font color='blue'>'for'</font> loop, only comprehension.

In [41]:
people = ['Miguel','Sophia','Davi','Alice','Arthur','Julia','Pedro','Isabella','Gabriel','Manuela','Laura']

vowel = ["a", "e", "i", "o", "u"]
people = [ i[:-1] + i[-1].upper() if i[-1] in vowel else i for i in people ]
print(people)

['Miguel', 'SophiA', 'DavI', 'AlicE', 'Arthur', 'JuliA', 'PedrO', 'IsabellA', 'Gabriel', 'ManuelA', 'LaurA']

---

#### <font color="blue">Exercice 4</font>

Write a function called `div3e5` that takes a number as a parameter. If the number is divisible by 3, the function returns `div3`; if it is divisible by 5, it returns `div5`; if it is divisible by both 3 and 5, it returns `div3div5`; otherwise, it returns the number itself. Apply the function to the test list below and use comprehension to generate a new list with the corresponding results. For example, given the list:

```python
[30, 21, 21, 49, 39, 49, 19,  5, 17,  4]
```
the answer must be:
```python
['div3div5', 'div3', 'div3', 49, 'div3', 49, 19, 'div5', 17, 4]
```

In [43]:
test = [4, 7, 33, 20, 30, 34, 15, 3, 17, 39, 21, 26, 32, 10, 34, 42, 41, 18, 7, 36]

def div3e5(x):
    if x % 3 == 0 and x % 5 == 0:
        return 'div3div5'
    elif x % 3 == 0:
        return 'div3'
    elif x % 5 == 0:
        return 'div5'
    else:
        return x

result = [div3e5(i) for i in test]
print(result)

[4, 7, 'div3', 'div5', 'div3div5', 34, 'div3div5', 'div3', 17, 'div3', 'div3', 26, 32, 'div5', 34, 'div3', 41, 'div3', 7, 'div3']

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Exercices: Lambda Functions
</div>

---

#### <font color="blue">Exercice 1</font>

Write a lambda expression that receives a string containing two words related to a person's name and surname. These are separated by one or more white spaces. The expression should return the name in the format: "SURNAME, N."

Example:
```
name = 'Dennis   ritchie'
```

Return:
```
RITCHIE, D.
```

Next, write a comprehension that iterates through a list containing names and generates a new list with names in the format "SURNAME, N."

Example:
```
names = ['Dennis   ritchie', 'ALAN  Turing', 'betty Holberton']
```

Return:
```
['RITCHIE, D.', 'TURING, A.', 'HOLBERTON, B.']
```

In [19]:
# Answer:

author_name = lambda s: s.split()[1].upper() + ". " + s.split()[0][0].upper()

print(author_name("Andre Kuster"))

KUSTER. A

In [20]:
authors = ['Dennis   ritchie', 'ALAN  Turing', 'betty Holberton']

print([author_name(element) for element in authors])

['RITCHIE. D', 'TURING. A', 'HOLBERTON. B']

---

#### <font color="blue">Exercice 2</font>

Consider the list `numbers` below, which contains integers between 0 and 5. Write a lambda function called occurrences that takes the list numbers as a parameter and returns a dictionary where the keys are numbers from 0 to 5, and the associated values correspond to the number of times the key appears in the list. For example, the code below:

```python
numeros = [2, 1, 1, 2, 0, 2, 0, 1, 4, 1]
print(ocorrencias(numeros))
```
should return:
```python
{0: 2, 1: 4, 2: 3, 3: 0, 4: 1, 5: 0}
```

In [34]:
# Answer using a def function:

numbers = [1, 5, 1, 4, 3, 2, 4, 0, 0, 0, 3, 0, 2, 1, 0, 0, 4, 0, 5, 4]

def occurrences(numbers):
    return {n : numbers.count(n) for n in range(0,5)}
    
print(occurrences(numbers))

{0: 7, 1: 3, 2: 2, 3: 2, 4: 4}

In [17]:
# Answer using lambda function:

occurences_lb = lambda n :{n : numbers.count(n) for n in range(0,5)}
print(occurences_lb(numbers))

{0: 7, 1: 3, 2: 2, 3: 2, 4: 4}

---

#### <font color="blue">Exercice 3</font>

Write a function intersection that takes two lists as parameters and returns another list containing only the elements that appear in both lists, without repetition of elements. For example, the code below:
```python
s1 = ['a', 'f', 'o', 'i', 'n', 'f', 'g', 'a', 'o', 'i']
s2 = ['l', 'k', 'j', 'f', 'a', 'j', 'i']
print(intersec(s1,s2))
```
should result in
```python
['a', 'f', 'i']
```
__Tip:__ Use a dictionary to find unique elements in each list. You can also convert the list to a set variable using the set command available in Python. Sets do not have repeated elements.

In [21]:
# Simple answer:
s1 = ['a', 'f', 'o', 'i', 'n', 'f', 'g', 'a', 'o', 'i']
s2 = ['l', 'k', 'j', 'f', 'a', 'j', 'i']

check = [i for i in s1 if i in s2]
print(check)

['a', 'f', 'i', 'f', 'a', 'i']

In [23]:
# Using def function:
s1 = ['a', 'f', 'o', 'i', 'n', 'f', 'g', 'a', 'o', 'i']
s2 = ['l', 'k', 'j', 'f', 'a', 'j', 'i']

def intersec(s1,s2):
   return sorted(list(set([i for i in s1 if i in s2])))
print(intersec(s1,s2))

['a', 'f', 'i']

In [24]:
# Answer using lambda function:
s1 = ['a', 'f', 'o', 'i', 'n', 'f', 'g', 'a', 'o', 'i']
s2 = ['l', 'k', 'j', 'f', 'a', 'j', 'i']

intersec_lb = lambda s1, s2 : list(set([i for i in s1 if i in s2]))
print(intersec_lb(s1,s2))

['a', 'i', 'f']

---

#### <font color="blue">Exercice 4</font>

Use the <font color='blue'>lambda</font>  function combined with the sorted method to place all multiples of 3 on the left side of a list, with the remaining numbers on the right. For example, the list:
```python
[17, 46, 21, 16, 44, 1, 6, 5, 27, 24]
```
should be organized as:
```python
[21, 6, 27, 24, 17, 46, 16, 44, 1, 5]
```
where 21, 6, 27, 24 are on the left because they are multiples of 3, while 17, 46, 16, 44, 1, 5 are on the right because they are not multiples of 3.

As a test for your code, use the list:
```python
[2, 17, 12, 35, 39, 35, 4, 44, 12, 20, 7, 1, 21, 45, 43, 26, 6, 13, 48, 42]
```

which should be organized as follows:

```python
[12, 39, 12, 21, 45, 6, 48, 42, 2, 17, 35, 35, 4, 44, 20, 7, 1, 43, 26, 13]
```

In [33]:
# Answer: 

numbers2 = [2, 17, 12, 35, 39, 35, 4, 44, 12, 20, 7, 1, 21, 45, 43, 26, 6, 13, 48, 42]

# Underestanding the output:

def ordering(numbers2):
    return [n % 3 for n in numbers2]
    
print(ordering(numbers2))

# Using lambda functions:

numbers2.sort(key = lambda x: x % 3 )
print(numbers2)

[2, 2, 0, 2, 0, 2, 1, 2, 0, 2, 1, 1, 0, 0, 1, 2, 0, 1, 0, 0]
[12, 39, 12, 21, 45, 6, 48, 42, 4, 7, 1, 43, 13, 2, 17, 35, 35, 44, 20, 26]