<div style="background-color: lightgray; padding: 18px;">
    <h1> Learning Python | Day 4
</div>

### Features:

- For Loops
- Lists
- Index
- For each (lists)
- List methods

<div style="background-color: lightgreen; padding: 10px;">
    <h2> For Loops
</div>

In [1]:
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

# This is less like the for keyword in other programming languages, 
## and works more like an iterator method as found in other object-orientated programming languages.

In [1]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [9]:
list(range(4))

[0, 1, 2, 3]

In [5]:
for anything in range(4):
    print(anything)

0
1
2
3

In [8]:
# Looping Through a String

for i in 'letter':
    print(i)

l
e
t
t
e
r

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Lists
</div>

In [10]:
# The range() function defaults to 0 as a starting value with a 'stop' condition
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [11]:
# Initial value (start) e stop condition (stop)
list(range(-3, 7))

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [12]:
# Initial value (start), stop condition (stop), and step condition (step)
list(range(-3, 7, 2))

[-3, -1, 1, 3, 5]

In [23]:
# Negative step
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [34]:
# Empty intervals
list(range(12, 0))

[]

In [ ]:
while start + step < stop:
    continue

In [12]:
# Drawing a Christmas tree using for, range() and strings

for var in range(5):
    print(' '*(5-var) + 'X' * var +'X'*(var-1))

for i in range(2):
    print('    X')

    X
   XXX
  XXXXX
 XXXXXXX
    X
    X

In [14]:
# Create a program that asks for a number and displays its multiplication table

number = int(input('Enter an integer number: '))

for i in range(1, 11):
    print(f'{number} x {i:2d} = {number * i:2d}')

Enter an integer number: 5
5 x  1 =  5
5 x  2 = 10
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  9 = 45
5 x 10 = 50

In [16]:
# Create a program that asks for a number 'n' and 'n' grades, then calculates the average of these 'n' grades.
n = int(input('Enter the number of grades evaluated: '))

total = 0
for i in range(n):
    total += float(input(f'Enter the {i + 1} grade: '))

average = total / n
print(f'The average is: {average:.2f}')

Enter the number of grades evaluated: 3
Enter the 1 grade: 8
Enter the 2 grade: 7
Enter the 3 grade: 9
The average is: 8.00

In [71]:
# Extra:
round(7.999, 2)

8.0

In [ ]:
cont = 0
cont = cont + 1  --> 1
cont = cont + 1  --> 2
cont = cont + 1  --> 3

In [ ]:
cont = 0
cont += 1 --> 1
cont += 1 --> 2
cont += 1 --> 3

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Index
</div>

In [17]:
#Lists

list = ['20', 'tatoos']

list[0], list[1],

('20', 'tatoos')

In [19]:
# Trying to acces an element out of the list range:
list[2]

IndexError: list index out of range

In [33]:
# Inserting elements into a list: append()
grades = []

grades.append(7.3)
grades.append(9)

grades

[7.3, 9]

In [27]:
len(grades)

2

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Slicing
</div>

In [10]:
# Important to create subsets

names = ["Name", "Surname", "Age", "Gender", "Salary", "Date of Birth"]

In [21]:
# names[i,j] ~it means that the slice starts at position 'i' and ends at 'j' but don't get the item at position 'j'

print(names[0:2])
print(names[:2]) # it means the same

print(names[2:6])
print(names[2:]) # it means the same

['Name', 'Surname']
['Name', 'Surname']
['Age', 'Gender', 'Salary', 'Date of Birth']
['Age', 'Gender', 'Salary', 'Date of Birth']

In [28]:
# And, at negatives index, names[-i,-j], includes '-i' but don't get the item at position 'j'

names[-5:-1]

['Surname', 'Age', 'Gender', 'Salary']

In [3]:
# Copying a list:
# "You should remember that assigning one list to another does not copy the list. See the example below:

copied_fruits = fruits
copied_fruits.append('heisteria')
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'heisteria']

['apple', 'banana', 'cherry', 'heisteria', 'heisteria']

In [4]:
# An easy way to truly copy one list to another is to use a slice going from the beginning to the end of the original list:

copied_fruits = fruits[:]
copied_fruits.append('heisteria')
print(copied_fruits)

['apple', 'banana', 'cherry', 'heisteria', 'heisteria', 'heisteria']

<div style="background-color: lightgreen; padding: 10px;">
    <h2> For each
</div>

In [29]:
# Normal way: index
sum = 0
for i in range(len(grades)):
    sum += grades[i]
print(sum)

16.3

In [28]:
# Another way: for each
sum = 0
for grade in grades:
    sum += grade
print(sum)

16.3

In [38]:
# Create a program that asks for a number 'n' and 'n' grades, then calculates the average and variance of these 'n' grades.
n = int(input('Enter the number of grades: '))

total = 0
grades = []

# Input 'n' grades and calculate the total sum
for i in range(n):
    grades.append(float(input(f'Enter the {i + 1} grade: ')))
    total += grades[i]

# Calculate the mean (average) of the grades
mean = total / n    

# Calculate the variance of the grades
variance = 0
for grade in grades:
    variance += (grade - mean) ** 2

variance /= n

print(mean, variance)

Enter the number of grades: 3
Enter the 1 grade: 7
Enter the 2 grade: 9
Enter the 3 grade: 2
6.0 8.666666666666666

<div style="background-color: lightgreen; padding: 10px;">
    <h2> List methods
</div>

| Method   | Description                                                  |
|----------|--------------------------------------------------------------|
| append() | Adds an element at the end of the list                        |
| clear()  | Removes all the elements from the list                        |
| copy()   | Returns a copy of the list                                    |
| count()  | Returns the number of elements with the specified value       |
| extend() | Add the elements of a list (or any iterable) to the end       |
| index()  | Returns the index of the first element with the specified value|
| insert() | Adds an element at the specified position                     |
| pop()    | Removes the element at the specified position                  |
| remove() | Removes the item with the specified value                     |
| reverse()| Reverses the order of the list                                |
| sort()   | Sorts the list                                               |

In [47]:
# list.append()

names = ['Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian']
ages = [21, 34, 7, 78, 15]

print(len(names))  # Output the length of the 'names' list

names.append(ages)  # Append the 'ages' list as an element to the 'names' list
print(len(names))  # Output the new length of the 'names' list
print(names)  # Output the modified 'names' list

5
6
['Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian', [21, 34, 7, 78, 15]]

In [48]:
# list.extend()

names = ['Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian']
ages = [21, 34, 7, 78, 15]

print(len(names))
names.extend(ages)
print(len(names))
names

5
10

['Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian', 21, 34, 7, 78, 15]

In [49]:
names = ['Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian']
ages = [21, 34, 7, 78, 15]

data = []

# Using an element from each list: zip()
for name, age in zip(names, ages):
    data.append((name, age))

data

[('Leticia', 21),
 ('Luciane', 34),
 ('Mariana', 7),
 ('Suzielli', 78),
 ('Vivian', 15)]

In [51]:
# list.count()
names.count('Suzielli')

1

In [138]:
# list.index()
names.index('Suzielli')

6

In [2]:
# list.remove()
temp = [2,3,4,5,2,5]

temp.remove(5)

temp

[2, 3, 4, 2, 5]

In [3]:
# list.pop()
temp.pop()

5

In [4]:
temp.pop()

2

In [5]:
temp

[2, 3, 4]

In [9]:
# list.insert() ~ to insert an item at a certain position
temp.insert(2, 0)

# It means that the number "0" will appear at the 2 position, pushing the other elements
temp

[2, 3, 0, 0, 0, 0, 4]

In [184]:
isinstance(varios,list)

True

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Exercices
</div>

---

**<font color="blue">Exercice 1 </font>**

Create a program that asks for two numbers and displays their multiplication tables side by side.

Example: 3 and 7

3 x 1 = 2   |    7 x 1 =  7  
3 x 2 = 6   |    7 x 2 = 14  
3 x 3 = 9   |    7 x 3 = 21  
...

In [57]:
n1 = int(input("Enter the first number to calculate its multiplication table: "))
n2 = int(input("Enter the second number to calculate its multiplication table: "))

for i, j in zip(range(1, 11), range(1, 11)):
    print(f'{n1} x {i} = {n1 * i} | {n2} x {j} = {n2 * j}')

Enter the first number to calculate its multiplication table: 5
Enter the second number to calculate its multiplication table: 3
5 x 1 = 5 | 3 x 1 = 3
5 x 2 = 10 | 3 x 2 = 6
5 x 3 = 15 | 3 x 3 = 9
5 x 4 = 20 | 3 x 4 = 12
5 x 5 = 25 | 3 x 5 = 15
5 x 6 = 30 | 3 x 6 = 18
5 x 7 = 35 | 3 x 7 = 21
5 x 8 = 40 | 3 x 8 = 24
5 x 9 = 45 | 3 x 9 = 27
5 x 10 = 50 | 3 x 10 = 30

---
**<font color="blue">Exercice 2 </font>**

Create a program that receives two lists (A and B) of different sizes and displays on the screen:
- Elements from A that are present in B.
- Elements from B that are present in A.
- Common elements in both sets.

In [58]:
a_intersec_b = []
b_intersec_a = []
comuns = []

print("This program compares lists of different sizes. To start:")

list_a = input("Enter elements of list A separated by spaces: ").split()
list_b = input("Enter elements of list B separated by spaces: ").split()

for elem in list_a:
    if list_b.count(elem) >= 1:
        a_intersec_b.append(elem)
print(f'Elements from A present in B are: {a_intersec_b}')

for elem in list_b:
    if list_a.count(elem) >= 1:
        b_intersec_a.append(elem)
print(f'Elements from B present in A are: {b_intersec_a}')

for elem in list_a:
    if list_b.count(elem) >= 1 and comuns.count(elem) < 1:
        comuns.append(elem)
print(f'Common elements are: {comuns}')

This program compares lists of different sizes. To start:
Enter elements of list A separated by spaces: 1 5 9 7
Enter elements of list B separated by spaces: 1 5 7 7 7 4
Elements from A present in B are: ['1', '5', '7']
Elements from B present in A are: ['1', '5', '7', '7', '7']
Common elements are: ['1', '5', '7']

---
**<font color="blue">Exercice 3 </font>**

Consider the set of values stored in the values list described below. Using a "for" loop, iterate through the list and calculate:

The average of the values
The maximum value
The minimum value
Store the results in the variables mean, maximum, and minimum. Print the obtained values.

In [3]:
vals = [-0.85,-0.64,0.93,0.73,0.34,0.90,0.39,
           0.04,0.32,0.99,-0.71,-0.97,0.04,0.30,0.47,0.46,-0.75]

maxim = 0
minim = 0
sum = 0

for i in vals:
    if i < minim:
        minim = i
    if i > maxim:
        maxim = i
    sum = sum + i
    
avg = sum / len(vals)

print('Media = ',avg)
print('Maximo = ',maxim)
print('Minimo = ',minim)

Media =  0.11705882352941177
Maximo =  0.99
Minimo =  -0.97