<div style="background-color: lightgray; padding: 18px;">
    <h1> Learning Python | Day 1 
</div>

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Arithmetic Operators
</div>


|     Operator    |     Name                 |     Example                                                                      |
|-----------------|--------------------------|--------------------------------------------------------------------------------|
|     +           |     Addition             |     x + y                             |
|     -           |     Subtraction          |     x - y                             |
|     *           |     Multiplication       |     x * y                             |
|     /           |     Division             |     x / y                             |
|     //          |     Floor division       |     x // y                            |
|     %           |     Modulus              |     x % y                             |
|     **          |     Exponentiation       |     x ** y                            |

In [11]:
#Addition
3 + 4

7

In [13]:
#Subtraction
3 - 4

-1

In [14]:
#Multiplication
3 * 4

12

In [15]:
#Division
3 / 4

0.75

In [1]:
#Floor division
3 // 4

0

In [17]:
#Modulus
3 % 4

3

In [18]:
#Exponentiation	
3 ** 4

81

In [1]:
#Square root using the operator **"
16 ** (1/2)

4.0

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Variables
</div>

In [3]:
# Variable assignment -->  =
a = 23 
b = 23
a = 77 # modifying

a, b

(77, 23)

In [4]:
#When a variable is not defined --> error
w

NameError: name 'w' is not defined

In [15]:
#Checking variable type --> type()
numero = 123

type(numero)

int

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Types
</div>

|     Name    |     Type                                                                                    |
|-----------------|----------------------------------------------------------------------------------------------------------|
|    Text Type                |     str                              |
|     Numeric Types           |     int, float, complex              |
|     Sequence Types          |     list, tuple, range               |
|     Mapping Type            |     dict                             | 
|     Set Types               |     set, frozenset                   |
|     Boolean Type            |     bool                             |   
|     Binary Types            |     bytes, bytearray, memoryview     |   
|     None Type               |     NoneType                         |

In [18]:
integer = 12
real = 3.14
text = 'Hello there'
sentinel = True

In [6]:
type(integer), type(real), type(text), type(sentinel)

(int, float, str, bool)

In [9]:
#type() accepts only one or three args
type(integer, real)

TypeError: type() takes 1 or 3 arguments

In [11]:
#Changing a variable type
factor = 99
type(factor)

int

In [12]:
factor = '99'
type(factor)

str

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Type Coercion
</div>

In [19]:
#Also known as casting --> transforming one type in another
num = '99'
num2 = int(num)

num2, type(num2)

(99, int)

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Data Inputs
</div>

In [57]:
name = input('Type your name: ')

Type your name: Andre

In [58]:
age = input('Type your age: ')
type(age)

Type your age: 30

str

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Strings
</div>

In [59]:
#Concatenating strings: +
phrase = name + ' has ' + age + ' years old.'

phrase

'Andre has 30 years old.'

In [60]:
#print()
print( name + ' has ' + age + ' years old.')

Andre has 30 years old.

In [40]:
#Another way
print(name, 'has', age,  'years old.')

Andre has 30 years old.

In [41]:
#C-style
print('%s has %s years old.'%(name,age))

Andre has 30 years old.

In [42]:
#.format()
print('{} has {} years old.'.format(name,age))

Andre has 30 years old.

In [43]:
#f-string
print(f'{name} has {age} years old.')

Andre has 30 years old.

In [44]:
#Not possible using + with text and numerics
'Andre has' + 23 + 'years old'

TypeError: can only concatenate str (not "int") to str

<div style="background-color: lightgreen; padding: 10px;">
    <h2> Comparison Operators
</div>

|     Name    |     Operator                                                                                    |
|-----------------|----------------------------------------------------------------------------------------------------------|
|     Equal                     |     ==              |
|     Not equal                 |     !=              |
|     Greater than              |     >               |
|     Less than                 |     <               | 
|     Greater than or equal to  |     >=              |
|     Less than or equal to     |     <=              |

In [75]:
x, y, w = 3, 2, 3

In [78]:
x == y, x == w

(False, True)

In [79]:
x != y, x != w

(True, False)

In [80]:
x > y, x > w

(True, False)

In [81]:
x >= y, x >= w

(True, True)

In [82]:
x < y, x < w

(False, False)

In [83]:
x <= y, x <= w

(False, True)

In [119]:
x < y < w

False

In [87]:
#Comparing strings

"casa" == "casa"

True

In [88]:
"casa" != "casa"

False

In [91]:

"A" > "a"

False

In [98]:
#Ascii table
ord('A'), ord('a'), ord('@')

(65, 97, 64)

In [99]:
#Comparison between int and float
20.0 ==  20

True

In [108]:
(-3 < -1) < 0

True

In [110]:
True == 1

True

In [50]:
#Check if your age is between 10 and 20
age =  int(input('Type your age: '))
(age >= 10) and (age <= 20)

Type your age: 30

False

In [51]:
10 <= age <= 20

False

In [52]:
None or False

False

In [53]:
not (None)

True

In [54]:
not True or (False and True) or False

False